
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporlar Sayfası</h1>
<br />
<a href="/Excels/StaticExcelReport/" class="btn btn-outline-info">Statik Excel Raporu</a>
<br />
<br />
<a href="/Excels/DestinationExcelReport/" class="btn btn-outline-primary">Tur Rotaları Excel Raporu</a>
