
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>excels controller - index metodunun viewine hoş geldiniz</h3>
<br />

<a href="/Excels/DestinationExcelReport/" class="btn btn-outline-info">Tur Rotaları Excel Raporu</a>
